<?php

// Example DB config
// Rename to db.config
// And modify to your specific MySQL credentials
class DB {
	private static $mysql = array(
								'server' => 'localhost',
								'user' => 'decaluser',
								'pwd' => 'decaluser',
								'db' => 'decal',
							);

	public static function server() {
		return self::$mysql['server'];
	}
	public static function user() {
		return self::$mysql['user'];
	}
	public static function pwd() {
		return self::$mysql['pwd'];
	}
	public static function dbname() {
		return self::$mysql['db'];
	}
}
